#root {
  max-width: 1280px;
  padding: 2rem;
}

.credentials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,label {
  display:block;
}

input {
  max-width: 300px;
}

#username {
  border: 5px solid black;
}

#requestMethod {
  max-width: 75px;
}

#requestInputs {
  display:flex;
  gap: 10px;
}

#requestLabels {
  display:flex;
  gap: 40px;
}

#requestButton {
  margin-top: 20px;
  border: 2px solid blue;
}